body {
    overflow: hidden !important;
    min-height: 100vh !important;
}

.bgLine {
    min-height: 100vh !important;
    background: repeating-linear-gradient(90deg, #11111190 5vw, #11111190 10.5vw, black 10.5vw, black 12.5vw);
    padding: 7% 0 8%;
    margin: -5% 5% 0;
}

.sideImgs {
    position: relative;
}

.sideImgs img {
    width: 5vw;
    position: absolute;
}

.sideImgs img:nth-child(1) {
    top: -2vw;
    left: -4vw;
}

.sideImgs img:nth-child(2) {
    top: -1vw;
    right: 3vw;
}

.sideImgs img:nth-child(3) {
    width: 20vw;
    top: 16vw;
    left: -18vw;
}

.sideImgs img:nth-child(4) {
    width: 20vw;
    top: 10vw;
    right: -16vw;
}

.mainMessage {
    display: grid;
    place-items: center;
    text-align: center;
}

.mainMessage img {
    width: 15vw;
    z-index: 1115;
}

.mainMessage h1 {
    font-size: var(--sectionHeadingFontSize);
    font-weight: 500;
    margin: 0 0 1%;
    color: transparent;
    background: linear-gradient(90deg, var(--brandSecondaryColor), white, var(--brandSecondaryColor));
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colorSliding 2s linear infinite;
}

.mainMessage p {
    font-size: 1.5vw;
    line-height: 150%;
    padding: 0 30%;
}

.mainMessage p button {
    font-size: 2vw;
    font-weight: bolder;
    text-decoration: none;
    border: none;
    color: transparent;
    cursor: pointer;
    background: linear-gradient(90deg, var(--brandPrimaryColor) -40%, transparent 105%);
    background-clip: text;
    -webkit-background-clip: text;
}

.mainMessage p img {
    width: 1.2vw;
    margin: 0;
}

@keyframes colorSliding {
    0% {
        background-position: 200%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}

/* -----------------------------Mobile Device ------------------------- */
@media (max-width:600px) {

    body,
    .bgLine {
        min-height: 100vh !important;
    }

    .sideImgs img:nth-child(1) {
        width: 8vw;
        top: 0;
        left: 2vw;
    }

    .sideImgs img:nth-child(2) {
        width: 10vw;
        top: 10vw;
        right: -2vw;
    }

    .sideImgs img:nth-child(3) {
        width: 30vw;
        top: 80vw;
        left: -20vw;
    }

    .sideImgs img:nth-child(4) {
        width: 40vw;
        top: 95vw;
        right: -25vw;
    }

    .mainMessage img {
        width: 40vw;
        margin: 5% 0;
        z-index: 1;
    }

    .mainMessage h1 {
        font-size: 7vw;
        margin: 8% 0 0;
    }

    .mainMessage p {
        font-size: 3.5vw;
        margin: 6% 0 0;
        padding: 0 5vw;
    }

    .mainMessage p button {
        font-size: 5vw;
    }

    .mainMessage p img {
        width: 3.5vw;
    }
}
